.BoxField
{
    -fx-background-color: #F1C9A0;

    -fx-border-radius:40px;
    -fx-background-radius: 45px;
    -fx-border-width: 2px;
    -fx-border-color: #4D0E0E;
}

MenuButton
{

        -fx-background-color: transparent;
        -fx-background-insets: 0 0 0 0;
        -fx-border-color: transparent;
        -fx-padding: 0;
}
MenuButton > .arrow-button {
        -fx-background-color: transparent;
        -fx-padding: 0;
    }

MenuButton > .arrow-button > .arrow {
        -fx-background-color: transparent;
        -fx-padding: 0;
    }


MenuButton > .arrow-button,
MenuButton > .label{
    -fx-background-color: transparent;
    -fx-padding: 0;
}








